<ul class="post-list">
  {% for post in include.posts limit: include.limit %}
  {% if include.skip_current_page and post.id == page.id %}
  {% continue %}
  {% endif %}
  {% assign url = post.url | prepend: site.baseurl %}

  <li class="post-list-item">

    <h3>
      <!-- Post date -->
      {% if post.date %}
      {{ post.date | date: "%F"}}
      {% else %}
      not published
      {% endif %}
       : <a href="{{ url }}">{{ post.title | escape }}</a>
    </h3>

    <!-- Post excerpt -->
    {% if include.include_excerpt %}
    <p>{{ post.content | strip_html | truncate: 200 }}</p>
    {% endif %}

  </li>

  {% endfor %}
</ul>
