@charset "UTF-8";
@import "normalize";
@import "bootstrap";
@import "fonts";
@import "syntax-highlighting";

/* Fonts */
$main-font: "Roboto Mono", monospace;
$main-color: #444;
$font-size: 18px;

$sans-font: "Roboto", sans-serif;
$sans-font-size: 0.93em;

$mono-font: "Roboto Mono", monospace;
$mono-font-size: 0.83em;

/* Colors */
$heading-color:#222;
$secondary-color:#777;
$border-color:#ccc;
$quote-border-color:#eee;
$table-header-color: #f2f2f2;
$table-alt-row-color: #f9f9f9;

@mixin font-feature-settings($features...) {
    // scss-lint:disable VendorPrefix
    font-feature-settings: $features;
    -webkit-font-feature-settings: $features;
}

body {
    // Enable a couple of nice font features
    @include font-feature-settings("onum", "kern", "liga", "clig", "dlig", "calt");
    color: $main-color;
    font-family: $main-font;
    font-size: $font-size;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (min-width: 900px) {
    // Larger devices
    .container {
        width: 900px;
    }
}

.page-footer {
    border-top: 1px solid $border-color;
    font-size: 0.86em;
    margin-top: 5rem;
    padding: .5rem;
    p {
        margin-bottom: .5rem;
        text-align: center;
    }
}

.navbar-brand {
    padding: 7px;
}

// Tables

table {
    margin: 1em 0;
}

th, td {
    border: 1px solid $border-color;
    padding: 8px;
}

th {
    background-color: $table-header-color;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: $table-alt-row-color;
}

/* @media screen and (min-width: 650px) { */

/*   // Larger devices */

/*   .container { */

/*     width: 600px; */

/*   } */

/*   .navbar { */

/*     display: inline; */

/*     margin-left: .8em; */

/*     margin-right: 1.5em; */

/*   } */

/*   .navbar-nav { */

/*     display: inline; */

/*   } */

/* } */

@media screen and (min-width: 950px) {
    // Larger devices
    .container {
        width: 900px;
    }
    .navbar {
        width: 100%;
    }
    .navbar-header {
        display: inline;
        margin-left: .8em;
        margin-right: 1.5em;
    }
    .navbar-nav {
        display: inline;
    }
}

// Code inside links should show link color
a code {
    color: inherit;
}

// Post header with title and date
.post-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;

    .page-title {
        flex: 1;
        margin: 0;
    }

    .post-date {
        color: $secondary-color;
        margin: 0;
        white-space: nowrap;
    }
}

// Post list title and date
.post-list-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;

    .post-list-date {
        color: $secondary-color;
        font-size: 0.75em;
        white-space: nowrap;
    }
}

// Post audio player
.post-audio {
    margin-bottom: 1.5rem;

    audio {
        width: 50%;
    }
}
